<% provide(:title, 'Categories') %>
<h1>Categories</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h4> Aerospace Engineering </h4>
      <h4> Biomedical Engineering </h4>
      <h4> Chemical Engineering </h4>
      <h4> Civil Engineering </h4>
    </div>
    <div class="col-sm-4">
      <h4> Computer Engineering </h4>
      <h4> Computer Science </h4>
      <h4> Electrical Engineering </h4>
    </div>
    <div class="col-sm-4">
      <h4> Engineering Science </h4>
      <h4> Mechanical Engineering </h4>
      <h4> Systems Engineering </h4>
    </div>
  </div>
</div>