<h1>Electrical Engineering</h1>
<h4>Ask any question regarding the Electrical Engineering major here!</h4>

<%= form_for(@question, url: categories_create_path(category: "electrical")) do |f| %>
<div class="row" style="overflow: hidden;">
  <%= f.text_field :content, :class=>"flexQuestions col-md-10" %>
  <%= f.submit "Ask!", class:"flexQuestions btn btn-primary col-md-2" %>
</div>
<% end %>

<% if !@questions.nil? %>
  <div>
    <u1 class="questions">
      <% @pullAnswers = true %>
      <%= render @questions %>
    </u1>
  </div>
<% end %> 